*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
  }

  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .progress {
    height: 80px;
    border-radius: 10px;
    width: 300px;
    margin: 50px auto;
    padding: 15px;
}

.determinate {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex; 
}
  .container{
    padding: 50px 35px 10px 35px;
  }

  .container header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
  }

  .form-outer form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-outer form .page .field{
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
  }

  form .page .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
  }

  form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 18px;
  }

  form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #00BD9D;
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
  }

  form .page .field button:hover{
    background: #000;
  }
  form .page .btns button{
    margin-top: -20px!important;
  }
  form .page .btns button.prev{
    margin-right: 3px;
    font-size: 17px;
  }
  form .page .btns button.next{
    margin-left: 3px;
  }


