*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
  }

  .nav-bar {
    background-color: #8BD7D2;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .logo {
    height: 4.25rem;
    width: 4.8rem;
    display: flex;
  }  
  
   .brand-name {
    /* font-family: Montserrat, sans-serif; */
    text-align: center;
   justify-content: center;
    width: 100%;
  }

  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .progress {
    height: 80px;
    border-radius: 10px;
    width: 300px;
    margin: 50px auto;
    padding: 15px;
}

.determinate {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex; 
}
  .container{
    padding: 50px 35px 10px 35px;
  }

  .container header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 60px 0;
  }

  .form-outer form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-outer form .page {
    height: 300px;
  }

  .form-outer form .page .field{
    width: 380px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
  }

  form .page .field .label{
    position: absolute;
    top: -35px;
    font-weight: 500;
    font-size: 16px;
  }

  form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
  }

  form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #00BD9D;
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
  }

  form .page .field button:hover{
    background: #000;
  }
  form .page .btns button{
    margin-top: -20px!important;
  }
  form .page .btns button.prev{
    margin-right: 3px;
    font-size: 17px;
  }
  form .page .btns button.next{
    margin-left: 3px;
  }

  .label-control {
    display: block;
    width: 100%;
    height: 3rem;
    padding: 6px;
    border: 1px solid #00BD9D;
    border-radius: 5px;
    font-weight: 300;
    margin: 0 auto;
    width: 160px;
    margin-right: 5px;
    text-align: center;
    height: 100%;
  }

  .slogan {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: x-large;
  }
