/* Rashidat and Andres to style project here */

/* *{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: -webkit-linear-gradient(bottom, #8BD7D2, #00BD9D);
}

.container{
    width: 330px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 50px 35px 10px 35px;
}

.container header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.container .form-outer{
    width: 100%;
    overflow: hidden;
}

.container .form-outer form{
    display: flex;
    width: 400%;
}

.form-outer form .page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;  
}

.form-outer form .page .field{
    height: 45px;
    width: 330px;
    margin: 45px 0;
    display: flex;
    position: relative;
}

form .page .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
}

form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
}

form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background: #00BD9D;
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
}

form .page .field button:hover{
    background: #000;
}

form .page .btns button{
    margin-top: -20px !important;
}

form .page .btns button .prev{
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button .next{
    margin-left: 3px;
} */

  form .page .field button:hover{
    background: #000;
  }
  form .page .btns button{
    margin-top: -20px!important;
  }
  form .page .btns button.prev{
    margin-right: 3px;
    font-size: 17px;
  }
  form .page .btns button.next{
    margin-left: 3px;
  }